.Home_main__2uIek {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
  min-height: 100vh;
}

.Home_background__CTycG {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.Home_background__CTycG::before {
  background: url('/assets/hash-pattern.png');
  z-index: 1;
  -webkit-mask-image: linear-gradient(20deg, #000 25%, transparent);
  mask-image: linear-gradient(20deg, #000 25%, transparent);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Home_backgroundGradients__VUGb4 {
  display: block;
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  filter: blur(150px);
}

.Home_container__9OuOz {
  position: relative;
  height: 100vh;
}

.Home_tagline__Jw01K {
  font-family: var(--font-monument-light);
  font-size: 0.875rem;
  padding-top: 1rem;
  letter-spacing: 0.082rem;
  z-index: 99;
}

.Home_start__ELciH {
  font-family: var(--font-monument-light);
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
  z-index: 99;
}

.Home_code__BZK8z {
  font-family: var(--font-monument-bold);
}

.Home_grid__vo_ES {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
  margin-bottom: 3rem;
  justify-items: center;
}

.Home_card__HIlp_ {
  padding: 0.8rem 1rem;
  gap: 0.5rem;
  margin: 1rem;
  background: rgba(var(--card-rgb), 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid #2d2d2d;
  border-radius: 4px 1px;
  transform-style: preserve-3d;
  transition: background 200ms, border 200ms;
  width: 14rem;
}

.Home_card__HIlp_:after {
  content: '';
  position: absolute;
  inset: 0.4rem -0.4rem -0.4rem 0.4rem;
  border-radius: 4px 1px;
  border: 1px solid #2d2d2d;
  transform: translateZ(-1px);
  transition: transform 200ms ease-in 0ms, border 50ms ease-in 100ms;
}

.Home_card__HIlp_ span {
  display: inline-block;
  transition: transform 200ms;
  font-size: 0.875rem;
  font-weight: 700;
}

.Home_card__HIlp_ h2 {
  display: flex;
  font-weight: 600;
  margin-bottom: 0.7rem;
  justify-content: space-between;
  letter-spacing: 0.13rem;
}

.Home_card__HIlp_ h2 div {
  display: flex;
}

.Home_card__HIlp_ p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.875rem;
  padding-right: 0.72rem;
  line-height: 1.3;
  max-width: 30ch;
  font-weight: 300;
}

.Home_center__Y_rV4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 6rem 0;
}

.Home_logo__ZEOng {
  position: relative;
  mix-blend-mode: difference;
  filter: invert(0.7);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .Home_card__HIlp_:hover {
    color: #ffff;
    background: linear-gradient(
        0deg,
        rgba(45, 45, 45, 0.66),
        rgba(45, 45, 45, 0.66)
      ),
      url('/assets/button-hover-light.png');
    border: 1px solid #2d2d2d;
    background-size: 100% 100%;
    transform: translateZ(-1px);
  }

  .Home_card__HIlp_:hover:after {
    border: 0px solid rgba(0, 0, 0, 0);
    transform: translate(-0.4rem, -0.4rem);
    transition: transform 200ms ease-in 0ms, border 50ms ease-in 100ms;
  }

  .Home_card__HIlp_:hover img {
    filter: brightness(0) invert(1);
  }
}

@media (prefers-reduced-motion) {
  .Home_card__HIlp_:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .Home_content__Qnbja {
    padding: 4rem;
  }

  .Home_grid__vo_ES {
    grid-template-columns: 1fr;
    max-width: 320px;
    grid-template-rows: repeat(4, minmax(25%, auto));
  }

  .Home_start__ELciH {
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    text-align: center;
  }

  .Home_card__HIlp_ {
    padding: 0.8rem 1rem 0.6rem 1rem;
  }

  .Home_center__Y_rV4 {
    padding: 0 0 3rem 0.3rem;
  }
}

.Home_spinnerContainer__N38pU {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
}


.Home_mainContent__nJQdL {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .Home_grid__vo_ES {
    grid-template-columns: repeat(2, 50%);
  }
}
